node_modules/

nvim/**/lazy-lock.json
nvim/**/spell/

nvim/**/plugins/custom/*
!nvim/**/plugins/custom/custom.lua
!nvim/**/plugins/custom/__templates__

nvim/**/ftplugin/*
!nvim/**/ftplugin/__templates__

tmux/**/plugins

zed/**/conversations
zed/**/prompts
zed/**/themes

.DS_Store
